body {
    width: 100%;
}
.container {
    width: 800px;
    height: 600px;
    margin-left: calc(50% - 400px);
    background-color:#E8BFFF;
    position: absolute;
    
}
    .container > div {
        text-align: center;
    }
.left {
    background-color: red;
    width: 30%;
    height: 390px;
    margin-top: 110px;
    float: left;
    position: absolute;
}
.right {
    background-color: #CEFF96;
    width: 30%;
    height: 390px;
    margin-top: 110px;
    float:right;
    
}
.top {
    background-color: #F60AFF;
    width: 40%;
    height: 10%;
    position: absolute;
    left:30%;
    margin-top: 20px;

    
}
.bottom {
    background-color: #FFD1D7;
    width: 40%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left:30%;
    margin-bottom: 20px;
    
}
.row {
    background-color: #87FFFF;
    width: 40%;
    height: calc(40% - 20%);
    position: absolute;
    left:30%;
    top: 40%;
    
}
.column {
    background-color: #FFFB28;
    width: 40%;
    height:350px;
    position: absolute;
    left:30%;
    margin-top: 130px;
}